@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.gradient-4colors {
  width: fit-content;
  background: linear-gradient(45deg, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
  display: inline-block;
  color: transparent;
  background-clip: text;
}

.gradient-4color2 {
  background: linear-gradient(45deg, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
  display: inline-block;
  color: transparent;
  background-clip: text;
}

.gradient-4color3 {
  background: white;
  display: inline-block;
  color: transparent;
  background-clip: text;
  transition-property: all;
  transition-duration: 500ms;
}
.gradient-4color3:hover{
  background: linear-gradient(45deg, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
  background-clip: text;
}
.underlined::after{
  background: linear-gradient(45deg, #C6F1F7, #F983E9, #B877FF, #C2E9CD);
}
body {
  color: rgb(var(--foreground-rgb));
  background: #111111;
  font-family: var(--font-inter);
}

.react-parallax-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradient-overline:before{
  display: inline-block;
  text-decoration-color: #B877FF;
}
td{
  border-width: 1px;
  padding: 40px;
}

canvas{
  width: 150px;
  height: 75px;
}